Brauna.Services/Web References/br.gov.mg.fazenda.nfe/NfeRetRecepcao2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NfeRetRecepcao2" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="nfeCabecMsg" type="tns:nfeCabecMsg" />
      <xs:element name="nfeDadosMsg">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nfeRetRecepcao2Result" type="tns:nfeRetRecepcao2Result" />
      <xs:complexType name="nfeRetRecepcao2Result">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="retConsReciNFe" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nfeCabecMsg">
        <xs:sequence>
          <xs:element minOccurs="0" name="cUF" type="xs:string" />
          <xs:element minOccurs="0" name="versaoDados" type="xs:string" />
        </xs:sequence>
        <xs:anyAttribute namespace="##other" processContents="skip" />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="nfeRetRecepcao2Response">
    <wsdl:part name="nfeRetRecepcao2Result" element="tns:nfeRetRecepcao2Result" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:message name="nfeRetRecepcao2">
    <wsdl:part name="nfeDadosMsg" element="tns:nfeDadosMsg" />
    <wsdl:part name="nfeCabecMsg" element="tns:nfeCabecMsg" />
  </wsdl:message>
  <wsdl:portType name="NfeRetRecepcao2Soap">
    <wsdl:operation name="nfeRetRecepcao2" parameterOrder="nfeDadosMsg nfeCabecMsg">
      <wsdl:input name="nfeRetRecepcao2" message="tns:nfeRetRecepcao2" />
      <wsdl:output name="nfeRetRecepcao2Response" message="tns:nfeRetRecepcao2Response" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NfeRetRecepcao2SoapBinding" type="tns:NfeRetRecepcao2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="nfeRetRecepcao2">
      <soap12:operation soapAction="http://www.portalfiscal.inf.br/nfe/wsdl/NfeRetRecepcao2/nfeRetRecepcao2" style="document" />
      <wsdl:input name="nfeRetRecepcao2">
        <soap12:header message="tns:nfeRetRecepcao2" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeDadosMsg" />
      </wsdl:input>
      <wsdl:output name="nfeRetRecepcao2Response">
        <soap12:header message="tns:nfeRetRecepcao2Response" part="nfeCabecMsg" use="literal" />
        <soap12:body use="literal" parts="nfeRetRecepcao2Result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NfeRetRecepcao2">
    <wsdl:port name="NfeRetRecepcao2Soap12" binding="tns:NfeRetRecepcao2SoapBinding">
      <soap12:address location="http://nfe.fazenda.mg.gov.br/nfe2/services/NfeRetRecepcao2" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>